@font-face {
    font-family: 'OleoScriptSwashCaps-Regular';
    src: url('OleoScriptSwashCaps-Regular.ttf');
}@font-face {
    font-family: 'FredokaOne-Regular';
    src: url('FredokaOne-Regular.ttf');
}@font-face {
    font-family: 'Jua-Regular';
    src: url('Jua-Regular.ttf');
}@font-face {
    font-family: 'NanumBrushScript-Regular';
    src: url('NanumBrushScript-Regular.ttf');
}@font-face {
    font-family: 'KaushanScript-Regular';
    src: url('KaushanScript-Regular.ttf');
}@font-face {
    font-family: 'HiMelody-Regular';
    src: url('HiMelody-Regular.ttf');
}@font-face {
    font-family: 'Gugi-Regular';
    src: url('Gugi-Regular.ttf');
}@font-face {
    font-family: 'DoHyeon-Regular';
    src: url('DoHyeon-Regular.ttf');
}@font-face {
    font-family: 'BungeeInline-Regular';
    src: url('BungeeInline-Regular.ttf');
}@font-face {
    font-family: 'Bangers-Regular';
    src: url('Bangers-Regular.ttf');
}@font-face {
    font-family: 'Allura-Regular';
    src: url('Allura-Regular.ttf');
}@font-face {
    font-family: 'FasterOne-Regular';
    src: url('FasterOne-Regular.ttf');
}@font-face {
    font-family: 'GothicA1-Black';
    src: url('GothicA1-Black.ttf');
}@font-face {
    font-family: 'GothicA1-Bold';
    src: url('GothicA1-Bold.ttf');
}@font-face {
    font-family: 'GothicA1-ExtraBold';
    src: url('GothicA1-ExtraBold.ttf');
}@font-face {
    font-family: 'GothicA1-ExtraLight';
    src: url('GothicA1-ExtraLight.ttf');
}@font-face {
    font-family: 'GothicA1-Light';
    src: url('GothicA1-Light.ttf');
}@font-face {
    font-family: 'GothicA1-Medium';
    src: url('GothicA1-Medium.ttf');
}@font-face {
    font-family: 'GothicA1-Regular';
    src: url('GothicA1-Regular.ttf');
}@font-face {
    font-family: 'GothicA1-SemiBold';
    src: url('GothicA1-SemiBold.ttf');
}@font-face {
    font-family: 'GothicA1-Thin';
    src: url('GothicA1-Thin.ttf');
}@font-face {
    font-family: 'Stylish-Regular';
    src: url('Stylish-Regular.ttf');
}@font-face {
    font-family: 'GamjaFlower-Regular';
    src: url('GamjaFlower-Regular.ttf');
}@font-face {
    font-family: 'Dongle-Bold';
    src: url('Dongle-Bold.ttf');
}@font-face {
    font-family: 'Dongle-Light';
    src: url('Dongle-Light.ttf');
}@font-face {
    font-family: 'Dongle-Regular';
    src: url('Dongle-Regular.ttf');
}@font-face{
    font-family: 'SingleDay-Regular';
    src:url('SingleDay-Regular.ttf');
}
