@font-face {
    font-family: 'OleoScriptSwashCaps-Regular';
    src: url('OleoScriptSwashCaps-Regular.ttf');
}
@font-face {
    font-family: 'FredokaOne-Regular';
    src: url('FredokaOne-Regular.ttf');
}